#headerContainer {
 border-bottom: 0.2vw solid black;
 padding:calc(2px + 0.4vw);
}

#heading {
  font-size:calc(18px + 2vw);
}

.button {
 height: 100%;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 box-shadow:inset 0px 1px 0px 0px #ffffff;
 background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
 background-color:#ffffff;
 border:0.2vw solid black;
 cursor:pointer;
 font-family:Arial;
 font-weight:bold;
 font-size:calc(12px + 1.6vw);
 text-decoration:none;
 text-shadow:0px 1px 0px #ffffff;
 }

 .button:hover {
 	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
 	background-color:#f6f6f6;
 }
 .button:active {
 	position:relative;
 	top:1px;
 }

 #checkContainer {
   font-family:Arial;
   font-size:calc(10px + 1vw);
 }

 #checkAll {
   width:calc(10px + 0.7vw);
   height:calc(10px + 0.7vw);
 }

 #action {
   width:78%;
   border:0.11vw solid black;
   background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
   background-color:#ffffff;
 }

 #button-container {
   padding: 0;
   margin-left: calc(2px + 0.2vw);
 }

 .alert {
   margin-bottom: 0;
   margin-top: 0.8vw;
 }
