.nopad {
  padding: 0;
}

* {box-sizing: border-box;}

.listing {
  list-style: none;
  padding: 0;
  margin: 1.5em;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(230px, auto));
  font: 1.3em Helvetica, arial, sans-serif;
  justify-content: space-around;
}

.listing li {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.listing .body {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

input[type=checkbox] {
  width:25px;
  height:25px;
}

.description {
  text-align:center;
  overflow-wrap: break-word;
}
